.site_map h5{
    font-size: 16px;
    font-weight: bold;
}

.site_map ul li a{
    font-size: 14px;
    color: #666666;
}
.subscribe_div button{
    font-size: 12px;
}

.subscribe_div h5{
    font-size: 16px;
    font-weight: bold;
}

footer{
    background-color: #F9F9F9;
    margin-top: 100px;
}
footer .sbsAlertBox{
    display: none;
}
footer .subscribe-alert{
    display: none;
    background-color: #333333 !important;
    color: #FFFFFF !important;
    position: absolute;
    width: 100%;
}

@media (max-width:786px){
    footer{
        margin-top: 60px;
    }
}
footer .footer-logo{
    height: 3rem;
    width: auto;
}

footer ul{
    padding: 0;
    list-style: none;
}
footer ul li{
    margin-block: 0.5rem;
}
footer ul li a{
    color: black;
    text-decoration: none;
}
footer ul li a:hover{
    color: black;
    text-decoration: none;
}
footer .form-group{
    position: relative;
}
footer .form-group .form-control{
    padding-block: 0.8rem;
}
footer .form-group button{
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    right: 1rem;
    border: none;
    color: gray;
    background: transparent;
}
footer .social-logo img{
    height: 1.2rem;
    aspect-ratio: 1/1;
    filter: grayscale(0%) brightness(0%);
}
footer .social-container{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
footer .social-logo a{
    border: solid 1px gray;
    border-radius: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .bottom-banner{
    border-top: solid 1px #DDDDDD;
}
footer .bottom-banner ul{
    display: inline-flex;
    gap:2rem;
    color: gray;
    list-style: disc;
    margin-bottom: 0;
}
footer .bottom-banner p{
    color: gray;
    display: inline;
    margin-right: 2rem;
}
footer .bottom-banner .tag{
    list-style: none;
}
footer .bottom-banner ul li a{
    color: gray;
}

footer .accordion-button,footer .accordion-item{
    background-color: #f9f9f9 !important;
}

footer .accordion-button:not(.collapsed){
    color: black !important;
}

footer .accordion-button:focus{
    border: none !important;
    box-shadow :none !important;
}

footer .accordion-flush .accordion-item{
    border: 0 !important;
}
footer .accordion-body{
    padding-top: 0 !important;
}
footer .accordion-body li{
    margin-bottom: 1rem;
}
footer .accordion-button::after{
    background-size: 1rem !important;
}

.footer-bottom h5{
    font-size: 16px;
    font-weight: bold;
}
.footer-bottom p{
    font-size: 14px !important;
    color: #666666;
}
.bottom-banner p,
.bottom-banner li{
    font-size: 14px !important;
}