body {
  font-family: "Roboto", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

/* =========================================home banner starts =================================*/
.banner-box {
  height: 70vh;
}
.home-banner-box {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0px);
  max-height: 670px;
  max-width: 1800px;
}
.owl-carousel .owl-dots {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0px);
}
.owl-theme .owl-dots .owl-dot span {
  background: #736060 !important;
  border: solid 2px white;
  margin: 5px 2px !important;
}

@media (max-width: 767px) {
  .owl-theme .owl-dots .owl-dot span {
    background: transparent !important;
    border: solid 1px white;
    margin: 5px 5px !important;
  }
}
.owl-theme .owl-dots .owl-dot.active span {
  background: white !important;
}
.banner-img-div {
  position: relative;
}
.banner-img-div img {
  height: 670px;
  width: 1440px;
  object-fit: cover;
}

.banner-img-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 25%); /* #333333 with 50% opacity */
}
.carousel-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 60%;
  z-index: 1;
}
.banner-carousel {
  position: relative;
}

.bann-txt {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  line-height: 54px;
}
@media (max-width: 767px) {
  .bann-txt {
    text-align: left;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
  }
}
.banner-btn {
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translate(0, -50%);
}
.banner-left-button {
  left: 1rem;
}
.banner-right-button {
  right: 1rem;
}

/* =========================================banner end =================================*/

/* =========================================banner others =================================*/
.banner-others .banner-box {
  max-height: 452px;
  width: 1800px;
}
.banner-crumb a {
  color: white;
}
.banner-crumb p {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.banner-crumb {
  position: absolute;
  z-index: 1;
  top: 1rem;
  display: flex;
  flex-direction: row;
  color: white;
}
.headers {
  font-size: 38px;
  font-weight: 700;
  line-height: 57px;
}
.header-para {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 767px) {
  .banner-others .banner-box {
    max-height: 388px;
    width: auto;
  }
  .banner-cont {
    position: absolute;
    bottom: 60px;
  }
}

/* =========================================who we are start =================================*/
.section-heading {
  font-weight: 700;
  font-size: 48px !important;
  line-height: 40px;
}
.home_btn {
  padding-inline: 42px !important;
  padding-block: 15px !important;
  font-size: 16px;
  font-weight: 500 !important;
  line-height: 20px;
}

.WhoWeAreData {
  display: flex;
  text-align: center;
  align-items: center;
}
.WhoWeAreImage {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  overflow-x: scroll;
  gap: 1rem;
}
.WhoWeAreImage h3 {
  margin-top: 36px;
  font-size: 24px;
  font-weight: bold;
}
.WhoWeAreImage::-webkit-scrollbar {
  display: none;
}
.WhoWeAre p {
  color: #333333;
}
.WhoWeAre {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-block: 100px;
}
.WhoWeAreKnowMoreButton {
  margin-top: 50px;
}
/* .WhoWeAreContainer{
    height: 100vh;
} */
.show-more-button-sustainibility {
  color: #333333;
}
.ChaimanAdaniGroup {
  color: #6c757d;
}
.wwr-leadership{
  margin-top: 80px;
}
.wwr-leadership .inner-data {
  text-align: start;
  line-height: 1;
}
.wwr-leadership .inner-data h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.wwr-leadership .inner-data span {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.6px;
}
.wwr-list {
  list-style: square;
  padding-left: 1rem;
}
.wwr-list li {
  text-align: start;
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.all-headings {
  font-size: 28px;
  font-weight: 700;
  line-height: 32.18px;
  margin-bottom: 1rem;
}
.ChaimanTopContentData h2{
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  color: #333333;
}

@media (max-width: 767px) {
  .section-heading {
    font-weight: 700;
    font-size: 24px !important;
    line-height: 40px;
  }
  .contentsection{
    align-items: start;
  }
  .WhatWeDoImages{
    margin-bottom: 0 !important;
  }
  .WhatWeDoImages .inner-data {
    margin-top: 30px;
  }
  .leadership_Profiles {
    flex-wrap: nowrap !important;
    overflow-x: scroll;
    gap: 30px;
    width: 100vw;
  }
  .leadership_Profiles img {
    min-width: 268px !important;
    max-height: 276px !important;
  }
}
.leadership_Profiles img {
  width: 413px;
  max-height: 348px;
}
.leadership_Profiles::-webkit-scrollbar {
  display: none;
}
.about-divs {
  margin-bottom: 0px !important;
}
/* =========================================who we are end =================================*/
/* =========================================What we do start =================================*/
/* .contentsection{
    display: flex;
    flex-direction:column;
    text-align: center;
} */
.WhatWeDo {
  padding-block: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.WhatWeDoImage {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
.WhatWeDoImage .card {
  border: none;
}
.WhatWeDoImages {
  border: none !important;
  margin-bottom: 80px;
  /* cursor: pointer; */
}
.WhatWeDoImages h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
}
.WhatWeDoImages p {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}
.WhatWeDo {
  background-color: #f1ffef;
}
.contentsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contentsection p{
  align-items: center;
}
.WhatWeDoData .card-img{
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.aboutKCL-section{
  margin-top: 80px;
}
@media (max-width:767px){
  .WhatWeDoImages h3 {
    text-align: start;
    font-size: 20px;
  }
  .WhatWeDoImages p {
    text-align: start;
  }
}
/* =========================================What we do end =================================*/

/* =========================================Sustainibility start =================================*/
.SustainibilitySection {
    padding-block: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.SustainibilitySection img {
  
  max-height: 670px;
  width: 100%;
}
.SustainibilityData h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 36px;
}
.SustainibilityData p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.SustainibilityData {
  position: absolute;
  bottom: 106px;
  left: 50px;
}
.Sustainibility {
  background-color: white !important;
  border-radius: 25px !important;
  border-color: white !important;
  color: #333333 !important;
  padding: 10px 25px 10px 25px !important;
}

/* =========================================Chairman section start =================================*/
.Chairman {
  margin-bottom: 100px;
}
.ChairmanContainer{
  border-radius: 8px;
  padding-block: 80px;
  background-color: #f9f9f9;
}
.ChairmanContainer h2 {
  font-size: 48px;
  font-weight: 700;
}
.ChaimanBottomContentdata{
  margin-block: 20px;
}
.ChaimanBottomContentdata h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}
.ChaimanBottomContentdata span {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.ChaimanContentSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 44x;
}
.show-more-content {
  overflow: hidden;
  max-height: 100px; /* Adjust this value based on your preference */
  transition: max-height 0.5s ease;
}

/* Show more button style */
.show-more-button {
  display: block;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  margin-top: 10px;
}
/* .mobileview{
display: none !important;
} */
/* .mobileview1{
    display: none !important;
    } */
/* =========================================Chairman section end =================================*/
/* =========================================Life at KCL start =================================*/
/* .LifeAtKCL{
  margin-top: 100px;
} */

.LifeAtKCL-1 {
  width: 60% !important;
}
.LifeAtKCL-2 {
  position: relative;
  width: 40% !important;
}
.small-images {
  display: flex;
  flex-direction: column;
}
.LifeAtKCL-row1 {
  display: flex;
  flex-direction: row;
}
.life-kcl-button{
  position: absolute;
  bottom: 10px;
}
@media (max-width: 767px) {
  .ChairmanContainer h2 {
    text-align: center;
  font-size: 24px;
}
  .LifeAtKCL{
    margin-top: 60px;
  }
  .LifeAtKCL-row1 {
    gap: 0.3rem;
    margin-bottom: 20px;
  }
  .WhatWeDoImages {
    margin-right: 10px;
  }
  
}
@media (max-width:1400px){
  .life-kcl-button {
    position: static;
  }
}

.LifeAtKCLImg-2,
.LifeAtKCLImg-3 {
  width: 100%;
  margin-bottom: 10px;
}
/* =========================================Life at KCL end =================================*/

/* =========================================Who we are page starts =================================*/
.banner-image {
  object-fit: cover;
  width: 100%;
  height: 80vh;
}
.banner-image-data {
  position: absolute;
  bottom: 106px;
  left: 50px;
}
/* =========================================Who we are page end =================================*/

.Sustainibility-box{
  position: absolute;
  left: 80px;
  bottom: 80px;
  max-width: 560px;
}
.Sustainibility-box h1{
  font-size: 48px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
}
.Sustainibility-box p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFF;
  margin-block: 20px;
}
.Sustainibility-box button{
  padding-inline: 42px !important;
  padding-block: 15px !important;
  font-size: 16px;
  font-weight: 500 !important;
  line-height: 20px;
}
@media (min-width: 767px) and (max-width:1024px) {
  .Sustainibility-box h1{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #FFFFFF;
  }
  .Sustainibility-box p{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #FFFFFF;
    margin-block: 20px;
  }
  .Chaimanrows img{
    width: 100%;
  }
}
@media (max-width: 767px) {
  .SustainibilitySection{
    padding-block: 0;
  } 
  .SustainibilitySection .container{
    padding-inline: 0;
  }
  .SustainibilitySection .container img{
    height: 560px;
    border-radius: 0 !important;
  }
  .Sustainibility-box{
    position: absolute;
    left: 0;
    width: 100vw;
    bottom: 30px;
    padding-inline: 15px;
  }
  .Sustainibility-box h1{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #FFFFFF;
  }
  .Sustainibility-box p{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #FFFFFF;
    margin-block: 20px;
  }
}
/* =========================================Sustainibility end =================================*/
.seeMore{
  color: #333 !important;
  text-decoration: underline;
  text-transform: capitalize;
  font-family: Roboto-Medium,Helvetica Neue,Arial,sans-serif !important;
  font-weight: 600;
}
.seeMore:hover{
  color: #666666 !important;
  text-decoration: none;
}

@media (max-width: 767px) {
  .SustainabilitySection,
  .WhatWeDo,
  .WhoWeAre,
  .Chairman,
  .LifeAtKCL {
    height: auto;
  }
  .Chairman-img {
    width: 100% !important;
    height: auto;
  }
  .WhoWeAreData {
    display: flex;
    text-align: left;
    /* align-items: center; */
  }
}
.CMD p {
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}
@media (max-width: 767px) {
  .contentsection {
    align-items: start;
  }
  .contentsection p{
    align-items: start;
  }
  .WhoWeAreImage {
    text-align: start;
  }
  .WhatWeDoImage {
    text-align: start;
  }

  .mobileview {
    /* display: block; */
    text-align: center;
  }
  .Chaimanrows {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .Chaimanrows img {
    /* height: 480px; */
    max-width: 521px;
  }
  

  /* .LifeAtKCL-2{
        width: 50%;
    } */
  .LifeAtKCL-1 {
    width: 100% !important;
  }
  .LifeAtKCLRows {
    display: flex;
    flex-direction: column;
  }
  .LifeAtKCL-2 {
    width: 100% !important;
  }
  .LifeAtKCLImg-2,
  .LifeAtKCLImg-3 {
    width: 50%;
  }
  .small-images {
    flex-direction: column !important;
  }
  .KCL-two-img {
    display: flex;
    flex-direction: row;
  }
}

p {
  font-size: 16px;
}

/* Ceo message */
.ceo-crumb {
  margin-top: 25px;
  margin-bottom: 40px;
}
.ceo-crumb a {
  color: #333333;
}
.ceo-crumb a p {
  color: #333333;
  font-size: 12px;
  font-weight: 400px;
  line-height: 16xp;
}
.ceo-crumb p {
  color: #333333;
  font-size: 12px;
  font-weight: 400px;
  line-height: 16xp;
}
.CeoMessage{
  margin-top: 80px;
  background-color: #f9f9f9;;
}

.ceoMessage-container h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 40px;
}
.ceoMessage-container .ceo-data p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

/* Leadership & Management */
.leadership-container{
  margin-top: 80px;
}
.leadership-container h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 44.53px;
}
.leadership-container .lead-profile {
  margin-bottom: 70px;
}
.leadership-container p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.leadership-container .lead-profile h5 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #333333;
}

/* operations */
.operations-container {
  margin-top: 70px;
}
.operations-container p {
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.operations-container .operations-rm {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.operations-container .accordion-button,
.operations-container .accordion-item {
  padding-left: 0;
  background-color: white !important;
}

.operations-container .accordion-button:not(.collapsed) {
  color: black !important;
}

.operations-container .accordion-button:focus {
  border: none !important;
  box-shadow: none !important;
}

.operations-container .accordion-flush .accordion-item {
  border: 0 !important;
}
.operations-container .accordion-body {
  padding-left: 5rem;
}
.operations-container .horizontal-line {
  padding-left: 4rem;
}
.operations-container .horizontal-line hr{
  color: #E6E6E6 !important;
  opacity: unset !important;
}
.operations-container .accordion-item:nth-last-child(2) .horizontal-line hr{
 display: none;
}

.operations-container .accordion-body li {
  margin-bottom: 1rem;
}
.operations-container .accordion-button::after {
  background-size: 1rem !important;
}
.operations-container .accordion-button:not(.collapsed) {
  box-shadow: none !important;
}

.operations-container .circle {
  border: solid 1px #d6d5d5;
  width: 3rem; 
  height: 3rem;
  min-width: 3rem; 
  min-height: 3rem; 
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin-right: 1rem;
  transform: translate(0px, -5px);
  z-index: 10;
  background-color: white;
}
.operations-container .circle h4 {
  color: #666666;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.operations-container .accordion-button {
  z-index: unset !important;
}
.operations-container .circle {
  z-index: 10;
}
.dotted-line {
  /* border-left: 2px dashed #4d4d4d; */
  height: calc(100% - 60px);
  position: absolute;
  top: 20px;
  left: 1.5rem;
  z-index: 5;

  width: 1.5px;   /* Set the width of your dotted line */
  background: linear-gradient(to bottom, black 2px, transparent 1px);
  background-size: 100% 10px;
}
.operations-container .accordion {
  position: relative;
}

.operations-container .op-accordion .accordion-item h5 {
  color: #333333;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
}
.operations-container .readMore-para h6 {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.operations-container .op-smelting-heading {
  color: #222222;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .ceoMessage-container h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 40px;
  }
  .operations-container .op-accordion .accordion-item h5 {
    color: #333333;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  }
}

/* Products */
.product-container .prod-heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  margin-bottom: 30px;
  color: #222222;
}
.prod-box {
  /* margin-bottom: 120px; */
  margin-bottom: 80px;
}

.product-container img {
  max-height: 535px;
  max-width: 305px;
  margin-bottom: 30px;
}
.product-container .prod-card-body h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  margin-bottom: 30px;
  color: #000000;
}
.product-container .prod-card-body p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 30px;
  color: #222222;
  /* margin-bottom: 80px; */
}
.product-container .prod-cards {
  position: relative;
  cursor: pointer;
}
.product-container .prod-card-body button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 15px 27px;
  color: #333333;
  position: absolute;
  bottom: 0px;
}
.product-container .prod-card-body button:hover {
  color: #f9f9f9;
}
.product-tab-head {
  display: flex;
  flex-direction: row;
  justify-content: start;
  border-bottom: solid 1px #eaeaea;
  gap: 25px;
  margin-bottom: 40px;
}
.product-tab-head .tab-heads {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding: 25px 25px;
  color: #333333;
  cursor: pointer;
}
.product-tab-head .tab-heads {
  transform: translate(0px, 1px);
}
.product-tab-head .tab-heads.active {
  border-bottom: solid 2px #222222;
  font-weight: 700;
}

@media (max-width: 767px) {


  .product-tab-head .tab-heads {
    padding-block: 25px;
    text-wrap: nowrap;
  }
  .product-container img {
    aspect-ratio: 3/2;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .product-container .prod-card-body p {
    /* margin-bottom: 30px; */
  }
  .product-container .prod-card-body button {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding-block: 15px;
    width: 100%;
    color: #ffffff;
    background-color: #222222;
    position: relative;
  }
  .product-container .prod-card-body button:hover {
    color: #222222;
    background-color: #ffffff;
  }
  .product-tab-head {
    width: calc(100vw - var(--bs-gutter-x) * 0.5);
    overflow-x: scroll;
  }
  .product-tab-head::-webkit-scrollbar {
    display: none;
  }
  .prod-cards {
    margin-bottom: 40px;
  }
  .product-container h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    margin-block: 30px;
  }
}

/* Product Details */
.products-crumb a {
  color: #222222;
}
.products-crumb p {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.products-crumb {
  margin-block: 20px;
}
.products-left h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #333333;
  padding-left: 20px;
}
.products-left .sub-head.selected{
  background-color: whitesmoke;
}
.products-left .sub-head:hover{
  background-color: whitesmoke;
}
.products-left .sub-head{
  margin-block: 30px;
  padding-block: 10px;
  padding-left: 20px;
}
.products-left .sub-head a{
  font-size: 16px;
  font-weight: 400;
  line-height: auto;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
.products-left .left-menu {
  padding-top: 10px;
  margin-bottom: 10px;
  padding-right: 1rem;
}
.right-head {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.right-head p {
  margin: 0;
  margin-right: 25px;
  color: #222222;
}
.right-head button {
  color: #ffffff;
  background-color: #333333;
  padding: 15px 60px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-wrap: nowrap;
}
.right-head button:hover {
  background-color: #ffffff;
  color: #333333;
}
.products-right .read-more {
  font-size: 16px;
  font-weight: 400;
  line-height: auto;
  color: #222222;
  text-decoration: underline;
  padding-block: 25px;
}
.products-right h2{
    font-size: 38px;
    font-weight: 700;
    line-height: auto;
    margin-bottom: 15px;
    color: #333333;
  }

.products-banner {
  max-height: 380px;
  max-width: 954px;
  margin-bottom: 60px;
  width: 100%;
}
.products-right h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  color: #333333;
  margin-bottom: 30px;
}
.cr-section-1 .tabs h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #666666;
  margin-bottom: 10px;
}
.cr-section-1 .tabs p {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #000000;
}
.cr-section-1 .tabs {
  margin-bottom: 40px;
}
.cr-section-1,
.cr-section-2 {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}
.cr-section-2 h6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #666666;
  margin-bottom: 40px;
}
.cr-section-2 .technical-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
}
.cr-section-2 .technical-div {
  width: 217px;
  height: 78px;
  min-width: 217px;
  min-height: 78px;
  border: solid 1px #e2e2e2;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.cr-section-2 .technical-div img {
  margin-inline: 15px;
}
.cr-section-2 .technical-div h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #666666;
  margin: 0;
}
.cr-section-2 .technical-div h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #333333;
  margin: 0;
}

/* .................... */
.cr-section-3 .prod-heading {
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
    margin-bottom: 30px;
    color: #222222;
  }
  
  .cr-section-3 img {
    max-height: 535px;
    max-width: 305px;
    margin-bottom: 30px;
  }
  .cr-section-3 .prod-card-body h5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    margin-bottom: 30px;
    color: #000000;
  }
  .cr-section-3 .prod-card-body p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
    color: #222222;
    margin-bottom: 80px;
  }
  .cr-section-3 .prod-cards {
    position: relative;
    cursor: pointer;
  }
  .cr-section-3 .prod-card-body button {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding: 15px 27px;
    color: #333333;
    position: absolute;
    bottom: 0px;
  }
  .cr-section-3 .prod-card-body button:hover {
    color: #f9f9f9;
  }
  .products-right .menu_arr{
    height: 8px;
    width: 16px;
    cursor: pointer;
  }
  .productsr-head{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    margin-bottom: 25px;
    gap: 25px;
  }
  
  @media(max-width:767px){
    .products-banner {
      border-radius: 0px !important;
    }
    .prod-box,.prod-card-body{
      margin-bottom: 0 !important;
    }
    .products-banner {
        height: 196px;
        width: 100%;
        margin-bottom: 40px;
        border-radius: 0px !important;
      }
      .products-right h2{
        font-size: 24px;
        font-weight: 700;
        line-height: auto;
        color: #333333;
        margin-bottom: 0;
        display: inline !important;
      }
      .cr-section-2 .technical-box {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 30px;
        overflow-x: scroll;
    }
    .cr-section-2 .technical-box::-webkit-scrollbar{
        display: none;
    }
    .cr-section-3 .prod-box{
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .cr-section-3 .prod-box img{
        height: 214px;
    }
    .cr-section-3 .prod-box::-webkit-scrollbar{
        display: none;
    }
    .cr-section-3 .prod-card-body button {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        padding: 15px 27px;
        color: #FFFFFF;
        background-color: #333333;
        position: absolute;
        bottom: 0px;
        width: calc(100% - (calc(var(--bs-gutter-x) * .5))*2);
      }
      .cr-section-3 .prod-card-body button:hover {
        color: #333333;
        background-color: #FFFFFF;;
      }
      .right-head {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
      .right-head button {
        color: #ffffff;
        background-color: #333333;
        padding: 15px 60px;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        text-wrap: nowrap;
        width: 100%;
        margin-block: 30px;
      }
      .cr-section-1 .tabs {
        margin-bottom: 35px;
      }
      
  }

  .bottom-bar.active{
    bottom: 0;
  }

  .bottom-bar{
    max-height: 867px;
    height: 80vh;
    width: 100vw;
    background-color:#FFFFFF;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: fixed;
    z-index: 1050;
    overflow-y: scroll;
    padding-top: 70px;
    bottom: -100%;
    transition: bottom 0.3s ease-in-out;
  }
  .bottom-bar .strip{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 9px;
    margin-bottom: 50px;
    position: absolute;
    left: 0;
    top: 0;
  }
  .bottom-bar .strip span{
    width: 40px;
    height: 4px;
    border-radius: 4px;
    background-color: #AAAAAA;
  }
  .bottom-bar h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #333333;
    padding-left: 20px;
  }
  .bottom-bar .sub-head{
    margin-block: 20px;
    padding-left: 20px;
    padding-block: 20px;
  }
  .bottom-bar .sub-head a{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
  }
  .bottom-bar .sub-head.selected {
    background-color: whitesmoke;
  }
  .bottom-bar .left-menu {
      padding-top: 10px;
    margin-bottom: 10px;
  }
  .bottom-bar .cross-img img{
    background-color: #FFFFFF;
  }
  .bottom-bar .cross-img img{
    height: 22px;
    width: 22xp;
    position: absolute;
    top: 30px;
    left: 15px;
    cursor: pointer;
  }
  .bottom-bar .menu-box{
    overflow-y: scroll;
    height: 100%;
  }
  .bottom-bar .menu-box::-webkit-scrollbar{
    display: none;
  }


  /* CathodeCopper */
  .cc-section-1 .cc-box{
    
  }
  
  .cc-section-1 .tabs h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: #000000;
  }
  .cc-section-1 .tabs p {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #000000;
  }
  .cc-section-1 .tabs {
    margin-bottom: 40px;
  }
  .cc-section-1 .tabs:nth-child(1){
    padding-right:50px;
  }
  .cc-section-1 .tabs:nth-child(3){
    padding-left:50px;
  }
  .cc-section-1 .tabs:nth-child(2){
    padding-inline: 50px;
    border-left: solid 1px rgba(0, 0, 0, 0.1);
    border-right: solid 1px rgba(0, 0, 0, 0.1);

  }
  .cc-section-1,
  .cr-section-2 {
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
  }

  .cc-section-1 ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .cc-section-1 ul li{
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #000000;
  }
  .cc-section-1 .right{
    padding-left:50px;
  }

  .cc-section-1 .left h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #333333;
  }
  .cc-section-1 .left h5{
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #666666;
  }
  .cc-section-1 .right h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #000000;
  }
  .cc-section-1 .cc-box .hed{
    display: none;
  }

  @media (max-width:767px){
    .cc-section-1 h3,
    .cr-section-2 h3,
    .cr-section-3 h3{
      font-size: 24px;
      font-weight: 700;
      line-height: 38px;
      color: #333333;
    }
    .cc-section-1 .tabs {
      padding-left: calc(var(--bs-gutter-x) * .5) !important;
      padding-right: calc((var(--bs-gutter-x) * .5) + 10px) !important;
      margin-bottom: 0px;
    }
    .cc-section-1 .cc-box h5{
      display: none;
    }
    .cc-section-1 .cc-box .hed{
      display: inline;
    }
    .cc-section-1 .tabs ul:nth-child(1) li{
      text-align: start;
    }
    .cc-section-1 .tabs ul:nth-child(2) li{
      text-align: end;
    }
    .cc-section-1 .right{
      display: none;
    }  
  }



/* contact Us */
.map-section{
  margin-bottom: 70px;
}
.map-section h1{
  font-size: 38px;
  font-weight: 700;
  line-height: 57px;
  color: #333333;
  margin-top: 20px;
  margin-bottom: 40px;
}
.map-section .map iframe{
  width: 100%;
  min-height: 340px;
  border-radius: 8px;
}
.contact_row{
  gap: 1rem !important;
}
.here-right{
  max-width: 415px !important;
}
.here-right .contact-form{
  background-color: #F8F8F8;
  border-radius: 8px;
  padding: 25px;
}
.here-right .contact-form h3{
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #333333;
  margin-bottom: 30px;
}
.here-right .contact-form label{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #666666;
}
.here-right .contact-form input{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #333333;
}
.here-right .contact-form .message textarea{
  min-height: 80px;
}
.contact-form button{
  width: 100%;
  background-color: #333333;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding-block: 15px;
}

.contactus-section{
  margin-bottom: 130px;
}
.here-left h2{
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #333333;
  margin-bottom: 30px;
}
.here-left .left-box{
  display: flex;
  flex-wrap: wrap;
  gap: 55px;
}
.here-left .left-box .left-card{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  
}
.here-left .left-box .left-card img{
  height: 64px;
  width: 64px;
  margin-right: 18px;
}
.here-left .left-box .left-card h5{
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #333333;
}
.here-left .left-box .left-card p{
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: #333333;
}

.here-left .left-box .left-card .cont h5{
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #333333;
}
.here-left .left-box .left-card .cont p{
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #333333;
}

.here-left .left-box .left-card .cont p a{
text-decoration: none;
font-size: 18px;
font-weight: 700;
line-height: 24px;
color: #333333;
}


.regional-section .regional-row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 23px;
}
.regional-section h2{
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #333333;
  margin-bottom: 30px;
}
.regional-section .regional-card{
  min-height: 265px;
  width: 413px;
  border: 1px solid #EAE5E5;
  border-radius: 8px;
  padding: 20px;
}
.regional-section .regional-card h4{
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #000000;
  margin-bottom: 20px;
}

.regional-section .regional-card p{
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #333333;
  margin-bottom: 50px;
 
}
.regional-section .regional-info{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.regional-section .regional-info img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.regional-section .regional-info p{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #333333;
  margin-bottom: 0;
  text-decoration: none;
}
.regional-section .regional-info p a{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #333333;
  margin-bottom: 0;
  text-decoration: none;
}

#thanksModal .modal-body img{
  height: 110px;
  width: 128px;
  margin-bottom: 80px;
  margin-top: 25px;
}
#thanksModal .modal-body .modal-cross img{
  height: 24px;
  width: 24px;
  position: absolute;
  top: 25px;
  left: 25px;
  margin: 0;
  cursor: pointer;
}
#thanksModal .modal-content{
  position: relative;
}
#thanksModal .modal-body h3{
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #222222;
  margin-bottom: 10px;
}
#thanksModal .modal-body p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  margin-bottom: 40px;
}
#thanksModal .modal-body button{
  padding-inline: 42px !important;
  padding-block: 15px !important;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #FFFFFF;
  background-color: #333333;
  margin-bottom: 25px;
}
.map-section .map .btn-box{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  position: absolute;
  gap: 10px;
  bottom: 30px;
  right: 80px;
}
.map-section .map{
  position: relative;
}
.map-section .map .btn-box p{
  margin-bottom: 0;
}
.map-section .map .btn-box button{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  gap:20px;
  height: 48px;
  width: 160px;
  border-radius: 8px;
}
.map-section .map .btn-box .direction{
  background-color: #3779de;
  color: #FFFFFF;
}
.map-section .map .btn-box .share{
  color: #3779de;
  background-color: #FFFFFF;
  border: 1px solid #3779de;
}
.map-section .map .btn-box .direction img{
  height: 20px;
  width: 20px;
  filter: invert(1);
}
.map-section .map .btn-box .share img{
  height: 20px;
  width: 20px;
}

@media (max-width:767px){
  .map-section .map .btn-box img{
    display: none;
  }
  .map-section .map .btn-box{
    position: static !important;
    gap: 10px;
    width: 100%;
    justify-content: space-evenly !important;
    margin-top: 15px;
  }
  .regional-section .regional-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 23px;
    overflow-x: scroll;
  }
  .regional-section .regional-row::-webkit-scrollbar{
    display: none;
  }
  .here-left .left-box{
    margin-bottom: 50px;
  }
  .map-section .map iframe{
    width: 100%;
    height: 300px;
    border-radius: 8px;
    
  }
  .map-section .map .btn-box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
    position: absolute;
    bottom: 30px;
    left: 60px;
  }
  .map-section .map .btn-box button img{
    height: 20px;
    width: 20px;
  }
  .here-right .contact-form .message textarea{
    min-height: 120px;
  }
  .here-right .contact-form{
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 25px;
    border: 1px solid #E8E8E8;
  }
  .contactus-section {
    margin-bottom: 50px;
}
.regional-section .regional-card{
  min-width: 294px;
}
.regional-section .regional-info img{
  margin-right: 10px;
}
.regional-section{
  margin-bottom: 30px;
}
#thanksModal .modal-body .modal-cross{
  display: none;
}
 
}

/* Terms and Condition */
.tnc-container h2{
  font-size: 38px;
  font-weight: 700;
  line-height: auto;
  margin-bottom: 15px;
  color: #333333;
}


/* Cookie Concent */
.cookie-box .wrapper {
  position: fixed;
    bottom: 50px;
    z-index: 100;
    right: -370px;
    max-width: 345px;
    width: 100%;
    background: #fff;
    border-radius: 8px;
    padding: 15px 25px 22px;
    transition: right 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.cookie-box .wrapper.show {
  right: 20px;
}
.cookie-box .wrapper header {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.cookie-box header i {
  color: #222222;
  font-size: 32px;
}
.cookie-box header h2 {
  color: #222222;
  font-weight: 500;
}
.cookie-box .wrapper .data {
  margin-top: 16px;
}
.cookie-box .wrapper .data p {
  color: #333;
  font-size: 16px;
}
.cookie-box .data p a {
  color: #222222;
  text-decoration: none;
}
.cookie-box .data p a:hover {
  text-decoration: underline;
}
.cookie-box .wrapper .buttons {
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cookie-box .buttons .button {
  border: none;
  color: #fff;
  padding: 8px 0;
  border-radius: 4px;
  background: #222222;
  cursor: pointer;
  width: calc(100% / 2 - 10px);
  transition: all 0.2s ease;
}
.cookie-box .buttons #acceptBtn:hover {
  background-color: #FFFFFF;
  color: #222222;
  border: solid 1px #222222;
}
.cookie-box #declineBtn {
  border: 2px solid #222222;
  background-color: #fff;
  color: #222222;
}
.cookie-box #declineBtn:hover {
  background-color: #222222;
  color: #fff;
}